<div class="container mx-auto">
  <div class="space-x-20 flex items-center justify-center h-screen">
    <button type="button" class="focus:outline-none text-white text-lg py-2.5 px-20 rounded-md bg-gradient-to-r from-blue-400 to-blue-600 transform hover:scale-110"">
      <%= link_to "Referee Login", new_referee_session_path, class: "button" %>
    </button>
    <button type="button" class="focus:outline-none text-white text-lg py-2.5 px-20 rounded-md bg-gradient-to-r from-blue-400 to-blue-600 transform hover:scale-110"">
      <%= link_to "Assignor Login", new_assignor_session_path, class: "button" %>
    </button>
  </div>
</div>