<div class="flex items-center justify-center h-screen space-x-4">
  <button class="w-52 h-12 px-6 border-2 border-black text-large bg-gradient-to-l from-blue-400 to-blue-500 text-black font-bold rounded">
  <%= link_to "League Login" %>
  </button>
  <button class="w-52 h-12 px-6 border-2 border-black text-large bg-gradient-to-l from-blue-400 to-blue-500 text-black font-bold rounded">
  <%= link_to "Assignor Login", new_assignor_session_path %>
  </button>
  <button class="w-52 h-12 px-6 border-2 border-black text-large bg-gradient-to-l from-blue-400 to-blue-500 text-black font-bold rounded">
  <%= link_to "Referee Login", new_referee_session_path %>
  </button>
</div>
